<div class="sidebar">
	<dl class="nav_accordion">
 		<dt>NFV 功能 <span class="fa pull-right"></span>
 		</dt>
 		<dd style="display:none;">
 			<ul>
 				<li>
 				<a>Load balance</a>
 				</li>
 				<li>
 				<a>Firewall</a>
 				</li>
 				<li>
 				<a>WAF</a>
 				</li>
 				<li>
 				<a>Anti-DDOS</a>
 				</li>
 				<li>
 				<a>Auditing</a>
 				</li>
 				<li>
 				<a>IPS</a>
 				</li>
 			</ul>
 		<dd>
        <dt> 系统配置</dt>
        <dd style="display:none;">
        	<ul>
 				<li>
 				 <a>配置</a>
 				</li>
 			</ul>
 		<dd>
 		<dt>网络配置</dt>
        <dd style="display:none;">
        	<ul>
 				<li>
 				<a>二层网络配置</a>
 				</li>
 				<li>
 				<a>三层网络配置</a>
 				</li>
 			</ul>
 		<dd>
	</dl>
</div>
